#*Venvs
.venv/

#*xml and zip files in Data/
Data/*.xml
Data/*.zip

#*pychache files
*__pycache__/

#*Python build artifacts
build/
dist/
*.egg-info/

#*Tool caches
.mypy_cache/
.pytest_cache/

#*Editor/OS cruft
.DS_Store
.idea/

#*Ouput and transition matrices
output/
tms/
